<!DOCTYPE html>
<html>
<head>
    <title>Application Detection</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Application Detection</h1>
        <div v-if="loading">Loading...</div>
        <div v-else>
            <div class="add-rule">
                <h2>Add New Rule</h2>
                <label for="app-name">Application Name:</label>
                <input type="text" id="app-name" v-model="newRule.name">
                <label for="app-interface">Interface:</label>
                <select id="app-interface" v-model="newRule.interface">
                    <option v-for="interface in interfaces" :value="interface">{{ interface }}</option>
                </select>
                <button @click="addRule">Add Rule</button>
            </div>
            <div class="rule-list">
                <h2>Current Rules</h2>
                <div v-for="(rule, index) in rules" :key="index">
                    <span>{{ rule.name }} is routed to {{ rule.interface }}</span>
                    <button @click="deleteRule(index)">Delete</button>
                </div>
            </div>
        </div>
    </div>
 
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                rules: [],
                newRule: {
                    name: '',
                    interface: ''
                },
                interfaces: [],
                loading: true
            },
            mounted() {
                this.getApplications();
                this.getInterfaces();
            },
            methods: {
                getApplications() {
                    fetch('/get_applications')
                        .then(response => response.json())
                        .then(data => {
                            this.rules = data;
                            this.loading = false;
                        });
                },
                getInterfaces() {
                    fetch('/get_interfaces')
                        .then(response => response.json())
                        .then(data => {
                            this.interfaces = data;
                        });
                },
                addRule() {
                    fetch('/add_rule', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: `name=${this.newRule.name}&interface=${this.newRule.interface}`
                    })
                        .then(response => {
                            if (response.ok) {
                                this.getApplications();
                                this.newRule.name = '';
                                this.newRule.interface = '';
                            } else {
                                console.error('Error adding rule');
                            }
                        });
                },
                deleteRule(index) {
                    const ruleId = this.rules[index].id; // Assuming you have an ID for each rule
                    fetch('/delete_rule', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: `id=${ruleId}`
                    })
                        .then(response => {
                            if (response.ok) {
                                this.getApplications();
                            } else {
                                console.error('Error deleting rule');
                            }
                        });
                }
            }
        });
    </script>
</body>
</html>

